$color-principal:#181E40;
$color-secundario:#2F3B80;
$color-fondo:#5E77FF;
$color-theme:#4759BF;
a:link { color: blue; }          /* Enlaces no visitados */
a:visited { color: purple; }     /* Enlaces visitados */
a:hover { color: #556BE6 ; }  /* El usuario esta sobre el enlace */
a:active { color: lime; }        /* Enlaces activos */