  main{
        margin: 5% 5%; 
        div{
            border-radius: 25px;
            background-color: rgba(250, 235, 215, 0.578);
            margin: 5% 15%;

            img{ 
                    border-radius: 25px;       
              
                 
            }
        }
    }
